# Configuration file

####################
# actions
####################

actions {
    I:denoflionsx.DenPipes.AddOns.AutomaticWoodenPipe.Action.Extract=333
    I:denoflionsx.DenPipes.AddOns.ValvePipe.Action.Pump=334
}


####################
# item
####################

item {
    I:denoflionsx.DenPipes.AddOns.AutomaticWoodenPipe.Pipe.AutomaticWoodenPipe=20000
    I:denoflionsx.DenPipes.AddOns.Emerald.Pipe.AutomaticEmeraldPipe=31739
    I:denoflionsx.DenPipes.AddOns.Forestry.Pipe.PipeForestry=31741
    I:denoflionsx.DenPipes.AddOns.ValvePipe.Pipe.ValvePipe=28941
}


